.dashboard-header {
  height: 70px;
  background: white;
  border-bottom: 1px solid #e5e7eb;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  
}
